#! /usr/bin/make -f
#
# This file is part of Gaise
# Copyright © 2011, 2014, 2016 Richard Kettlewell
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

INSTALL=install
CHANGELOG=changelog

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

export CFLAGS CPPFLAGS CXXFLAGS LDFLAGS

build:
	$(MAKE) prefix=/usr

cleanpkg-gaise:
	rm -rf debian/gaise

pkg-gaise:
	rm -rf debian/gaise
	mkdir -p debian/gaise
	mkdir -p debian/gaise/DEBIAN
	mkdir -p debian/gaise/usr/share/doc/gaise
	cp debian/copyright \
		debian/gaise/usr/share/doc/gaise/copyright
	cp debian/changelog \
		debian/gaise/usr/share/doc/gaise/${CHANGELOG}
	gzip -9 debian/gaise/usr/share/doc/gaise/${CHANGELOG}
	mkdir -p debian/gaise/usr/bin
	mkdir -p debian/gaise/usr/lib/gaise
	mkdir -p debian/gaise/usr/share/man/man1
	$(MAKE) install prefix=debian/gaise/usr mandir=debian/gaise/usr/share/man
	gzip -9 debian/gaise/usr/share/man/man*/*
	strip --strip-unneeded \
		--remove-section=.comment \
		debian/gaise/usr/lib/gaise/gaise.so
	dpkg-shlibdeps -Tdebian/substvars.gaise \
		debian/gaise/usr/lib/gaise/*
	dpkg-gencontrol -isp -pgaise -Pdebian/gaise -Tdebian/substvars.gaise
	cd debian/gaise && \
		find -name DEBIAN -prune -o -type f -print \
			| sed 's/^\.\///' \
			| xargs md5sum > DEBIAN/md5sums
	chown -R root:root debian/gaise
	chmod -R g-ws debian/gaise
	dpkg --build debian/gaise ..


binary: binary-arch binary-indep
binary-arch:  pkg-gaise
binary-indep:

clean:  cleanpkg-gaise
	$(MAKE) distclean
	rm -f debian/files
	rm -f debian/substvars
